<nav id="footer" class="navbar navbar-default">
</br></br>
  <div class="container footer-text">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <p class="text-justify">Somos un grupo de profesionales que trabaja con la conducta, la comunicación, el aprendizaje, la salud mental y el funcionamiento familiar. Hacemos diagnóstico y tratamiento. Siempre a la vanguardia con las últimas técnicas y pruebas científicamente comprobadas en el área. Hacemos especial énfasis en el trabajo conjunto y el seguimiento del paciente para lograr un cierre adecuado de cada caso.</p>
        <p class="text-justify">Estamos ubicados en Lecheria, estado Anzoátegui. Comuníquese con nosotros al <strong>(0281) 281 0393</strong> para mayor información. Trabajamos con previa cita.</p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="col-md-6 col-xs-12">
          <strong><u>Psicología</u></strong></br>
          Zoilinda Story - (424) 874 0225</br>
          Sonia Hermidas - (414) 383 4828</br>
          Rosalba Santana - (414) 791 6200</br>
          <strong><u>Psiquiatría</u></strong></br>
          Carmen Elena Juarez - (414) 819 5488</br>
          Maria Eugenia Sanchez - (414) 808 5842</br>
          <strong><u>Cardiologia</u></strong></br>
          Carlos Ruiz - (424) 846 4373</br>

          </br>
        </div>
        <div class="col-md-6 col-xs-12">
          <strong><u>Neurodesarrollo</u></strong></br>
          Ruth Maigualida Castro - (414) 320 2466</br>
          <strong><u>Psicopedagogía</u></strong></br>
          Astrid (Triky) Lefeld - (414) 811 4923</br>
          <strong><u>Terapia Ocupacional</u></strong></br>
          Daniel Vivas - (416) 683 6239</br>
          <strong><u>Terapia de Lenguaje</u></strong></br>
          Zelaida Regnault - (414) 796 1540</br>
          </br>
      </div>
    </div>
  </div>
</nav>
