<nav class="navbar navbar-default navbar-fluid">
<!--   <a class="navbar-brand">UNO A UNO</a> -->
  <span class="pull-right navbar-brand"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;(0281) 281 - 0393</span>
</nav>
